body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
	background: #101010;
	font-family: 'Poppins';
	color: #fff;
    scroll-behavior: smooth;
    transition: all 0.8s ease-out;
}

* {
    -webkit-box-sizing: border-box;
    cursor: none;
	box-sizing: border-box;
}

p {
    font-weight: 300;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #fff;
}

#body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.char {
    /* transform: translateY(115px); */
    transition: transform 0.5s;
}

.text-center {
    text-align: center;
}

.text-gradient {
    color: transparent;
    background: linear-gradient(to left, #6bc5f8, #cf59e6, #8000ff);
    background-size: 10000px 100%;
    animation: bg 15s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
}

.tektalk-gradient {
    background: linear-gradient(to right, #20BF55, #01BAEF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.real-estate-color {
    color: #D9D849;
}

.drew-music-color {
    color: #0bce5a
}

.twitter-color {
    color: #00acee ;
}

canvas {
    object-fit: cover !important;
    border-radius: 16px !important;
    width: 100% !important;
    height: 100% !important;
}

.cursor{
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor-f {
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 0;
    background-image:url('../images/cursor_round.png');
    background-size: cover;
    mix-blend-mode: difference;
    pointer-events: none;
    opacity: 0.5;
    z-index: 999;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

@keyframes bg {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 10000px;
    }
  }